In [3]:
import pandas as pd
import numpy as np

In [5]:
raw_data = pd.read_csv("D:\job\Data_Pipeline\data\Beach_Weather_Stations_-_Automated_Sensors.csv\Beach_Weather_Stations_-_Automated_Sensors.csv")

In [4]:
# printing a few rows:
raw_data.head()

,Station Name,Measurement Timestamp,Air Temperature,Wet Bulb Temperature,Humidity,Rain Intensity,Interval Rain,Total Rain,Precipitation Type,Wind Direction,Wind Speed,Maximum Wind Speed,Barometric Pressure,Solar Radiation,Heading,Battery Life,Measurement Timestamp Label,Measurement ID
0,63rd Street Weather Station,09/27/2018 10:00:00 AM,16.40,12.2,61,0.0,0.0,260.3,0.0,231,2.5,4.7,996.3,484,356.0,11.9,09/27/2018 10:00 AM,63rdStreetWeatherStation201809271000
1,63rd Street Weather Station,09/27/2018 11:00:00 AM,17.10,11.5,51,0.0,0.0,260.3,0.0,244,3.6,5.7,995.4,468,356.0,11.9,09/27/2018 11:00 AM,63rdStreetWeatherStation201809271100
2,63rd Street Weather Station,09/27/2018 01:00:00 PM,18.20,12.4,51,0.0,0.0,260.3,0.0,248,3.1,5.3,994.8,377,355.0,11.9,09/27/2018 1:00 PM,63rdStreetWeatherStation201809271300
3,Foster Weather Station,09/27/2018 01:00:00 PM,17.89,NaN,39,NaN,0.0,NaN,NaN,249,1.4,2.3,993.6,0,NaN,15.1,09/27/2018 1:00 PM,FosterWeatherStation201809271300
4,63rd Street Weather Station,09/27/2018 03:00:00 PM,19.50,13.0,47,0.0,0.0,260.3,0.0,249,3.1,5.7,992.9,461,355.0,11.9,09/27/2018 3:00 PM,63rdStreetWeatherStation201809271500

In [5]:
raw_data.shape

(156051, 18)

In [6]:
# printing the columns:
raw_data.columns

Index(['Station Name', 'Measurement Timestamp', 'Air Temperature',
       'Wet Bulb Temperature', 'Humidity', 'Rain Intensity', 'Interval Rain',
       'Total Rain', 'Precipitation Type', 'Wind Direction', 'Wind Speed',
       'Maximum Wind Speed', 'Barometric Pressure', 'Solar Radiation',
       'Heading', 'Battery Life', 'Measurement Timestamp Label',
       'Measurement ID'],
      dtype='object')

In [7]:
# Checking the info:    
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156051 entries, 0 to 156050
Data columns (total 18 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Station Name                 156051 non-null  object
 1   Measurement Timestamp        156051 non-null  object
 2   Air Temperature              155976 non-null  float64
 3   Wet Bulb Temperature         100746 non-null  float64
 4   Humidity                     156051 non-null  int64
 5   Rain Intensity               100746 non-null  float64
 6   Interval Rain                156051 non-null  float64
 7   Total Rain                   100746 non-null  float64
 8   Precipitation Type           100746 non-null  float64
 9   Wind Direction               156051 non-null  int64
 10  Wind Speed                   156051 non-null  float64
 11  Maximum Wind Speed           156051 non-null  float64
 12  Barometric Pressure          155905 non-null  float64
 13  Solar Radiation              156051 non-null  int64
 14  Heading                      100746 non-null  float64
 15  Battery Life                 156051 non-null  float64
 16  Measurement Timestamp Label  156051 non-null  object
 17  Measurement ID               156051 non-null  object
dtypes: float64(11), int64(3), object(4)
memory usage: 21.4+ MB

In [9]:
# Check the null values:
raw_data.isnull().any()

Station Name                   False
Measurement Timestamp          False
Air Temperature                 True
Wet Bulb Temperature            True
Humidity                       False
Rain Intensity                  True
Interval Rain                  False
Total Rain                      True
Precipitation Type              True
Wind Direction                 False
Wind Speed                     False
Maximum Wind Speed             False
Barometric Pressure             True
Solar Radiation                False
Heading                         True
Battery Life                   False
Measurement Timestamp Label    False
Measurement ID                 False
dtype: bool

In [10]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156051 entries, 0 to 156050
Data columns (total 18 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Station Name                 156051 non-null  object
 1   Measurement Timestamp        156051 non-null  object
 2   Air Temperature              155976 non-null  float64
 3   Wet Bulb Temperature         100746 non-null  float64
 4   Humidity                     156051 non-null  int64
 5   Rain Intensity               100746 non-null  float64
 6   Interval Rain                156051 non-null  float64
 7   Total Rain                   100746 non-null  float64
 8   Precipitation Type           100746 non-null  float64
 9   Wind Direction               156051 non-null  int64
 10  Wind Speed                   156051 non-null  float64
 11  Maximum Wind Speed           156051 non-null  float64
 12  Barometric Pressure          155905 non-null  float64
 13  Solar Radiation              156051 non-null  int64
 14  Heading                      100746 non-null  float64
 15  Battery Life                 156051 non-null  float64
 16  Measurement Timestamp Label  156051 non-null  object
 17  Measurement ID               156051 non-null  object
dtypes: float64(11), int64(3), object(4)
memory usage: 21.4+ MB

In [18]:
#Formatting Date and Time to datetime type

date = pd.to_datetime(raw_data['Measurement Timestamp']).dt.date
date.head()
time = pd.to_datetime(raw_data['Measurement Timestamp']).dt.time
time.head()
# week_day = date.day_name() 
# week_day.head()

0    10:00:00
1    11:00:00
2    13:00:00
3    13:00:00
4    15:00:00
Name: Measurement Timestamp, dtype: object

In [22]:
import seaborn as sns
import matplotlib.pyplot as plt

In [20]:
def boxplot_sensor_data(data, numerical_col):
    for i in numerical_col:
        sns.boxplot(x=data[i])
        plt.title('Boxplot of the sensors data')
        plt.show()

In [2]:
# numerical_col = ['Air Temperature',	'Wet Bulb Temperature',	'Humidity',	'Rain Intensity',	'Interval Rain',	'Total Rain', 	
#                         'Precipitation Type',	'Wind Direction',	'Wind Speed',	'Maximum Wind Speed',	'Barometric Pressure',	
#                         'Solar Radiation',	'Heading',	'Battery Life']   
# boxplot_sensor_data(raw_data, numerical_col)

In [ ]:
def remove_outiler(data, numerical_cols):
    """
    Removes outliers from the dataset using the Interquartile Range (IQR) method for specified numerical columns.

    :param data: DataFrame containing the dataset
    :param numerical_cols: List of column names to check for outliers
    :return: DataFrame with outliers removed
    """

    # Initialize an empty list to store indices of rows with outliers
    outliers_indices = []

    # Loop through the numerical columns
    for col in numerical_cols:
        # Calculate Q1, Q3 and IQR for the current column
        Q1 = data[col].quantile(0.25)
        Q3 = data[col].quantile(0.75)
        IQR = Q3 - Q1
            
        # Define the scale
        scale = 2
        lower_lim = Q1 - scale * IQR
        upper_lim = Q3 + scale * IQR
            
        # Identify the outliers (values outside the limits)
        lower_outliers = data[col] < lower_lim
        upper_outliers = data[col] > upper_lim
            
        # Append indices of rows with outliers to the list
        outliers_indices.extend(data[lower_outliers | upper_outliers].index)

        # Optionally print the outliers information for debugging
        print(f"Outliers in column {col}:")
        print(data[col][lower_outliers | upper_outliers].info())

    # Remove rows with outliers (keeping the rows that do not have outliers)
    data_no_outliers = data.drop(index=outliers_indices)

    print(f"Outliers removed. New data shape: {data_no_outliers.shape}")

    return data_no_outliers

In [54]:
import data_analysis
from data_analysis import add_metadata_to_grouped_aggregated_data, aggregate_data_by_station

In [56]:
numerical_columns = [col for col in raw_data.columns if pd.api.types.is_numeric_dtype(raw_data[col])]
numerical_columns

['Air Temperature',
 'Wet Bulb Temperature',
 'Humidity',
 'Rain Intensity',
 'Interval Rain',
 'Total Rain',
 'Precipitation Type',
 'Wind Direction',
 'Wind Speed',
 'Maximum Wind Speed',
 'Barometric Pressure',
 'Solar Radiation',
 'Heading',
 'Battery Life']

In [49]:
agg_data = aggregate_data_by_station(raw_data, numerical_col)
agg_data.reset_index(inplace=True)
agg_data.head()

,Station Name,Air Temperature_min,Air Temperature_max,Air Temperature_mean,Air Temperature_std,Humidity_min,Humidity_max,Humidity_mean,Humidity_std
0,63rd Street Weather Station,-28.50,36.40,13.221631,10.523771,16,100,73.781147,15.808172
1,Foster Weather Station,-29.78,36.39,11.074970,10.531476,6,96,65.244408,14.730346
2,Oak Street Weather Station,-21.00,37.00,13.246843,10.333843,14,99,67.109637,15.606415

In [50]:
final_data = add_metadata_to_grouped_aggregated_data(agg_data, "Beach_Weather_Stations_-_Automated_Sensors.csv")
final_data.head()

,Station Name,Air Temperature_min,Air Temperature_max,Air Temperature_mean,Air Temperature_std,Humidity_min,Humidity_max,Humidity_mean,Humidity_std,data_source,timestamp,file_name
0,63rd Street Weather Station,-28.50,36.40,13.221631,10.523771,16,100,73.781147,15.808172,Beach_Weather_Stations_-_Automated_Sensors.csv,2024-12-03 14:18:07.681371,Beach_Weather_Stations_-_Automated_Sensors.csv
1,Foster Weather Station,-29.78,36.39,11.074970,10.531476,6,96,65.244408,14.730346,Beach_Weather_Stations_-_Automated_Sensors.csv,2024-12-03 14:18:07.681371,Beach_Weather_Stations_-_Automated_Sensors.csv
2,Oak Street Weather Station,-21.00,37.00,13.246843,10.333843,14,99,67.109637,15.606415,Beach_Weather_Stations_-_Automated_Sensors.csv,2024-12-03 14:18:07.681371,Beach_Weather_Stations_-_Automated_Sensors.csv

In [60]:
def read_csv_to_dataframe(file_path):
    try:
        data = pd.read_csv(file_path, engine='python', on_bad_lines='skip', encoding='utf-8')
        return data
    except pd.errors.ParserError as e:
        print(f"ParserError: {e}")

In [61]:
df = read_csv_to_dataframe(r"D:\job\Data_Pipeline\data\agg_test.csv")
df.head()

,Station Name,Measurement Timestamp,Air Temperature,Wet Bulb Temperature,Humidity,Rain Intensity,Interval Rain,Total Rain,Precipitation Type,Wind Direction,Wind Speed,Maximum Wind Speed,Barometric Pressure,Solar Radiation,Heading,Battery Life,Measurement Timestamp Label,Measurement ID
0,63rd Street Weather Station,09/27/2018 10:00:00 AM,16.40,12.2,61,0.0,0,260.3,0.0,231,2.5,4.7,996.3,484,356.0,11.9,09/27/2018 10:00 AM,63rdStreetWeatherStation201809271000
1,63rd Street Weather Station,09/27/2018 11:00:00 AM,17.10,11.5,51,0.0,0,260.3,0.0,244,3.6,5.7,995.4,468,356.0,11.9,09/27/2018 11:00 AM,63rdStreetWeatherStation201809271100
2,Foster Weather Station,09/27/2018 01:00:00 PM,17.89,NaN,39,0.0,0,NaN,NaN,249,1.4,2.3,993.6,0,NaN,15.1,09/27/2018 1:00 PM,FosterWeatherStation201809271300
3,Foster Weather Station,09/27/2018 03:00:00 PM,19.39,NaN,37,NaN,0,NaN,NaN,209,4.0,4.6,991.9,0,NaN,15.0,09/27/2018 3:00 PM,FosterWeatherStation201809271500
4,Oak Street Weather Station,06-01-2020 00:00,16.20,11.0,53,0.0,0,13.4,0.0,115,0.9,1.1,1003.6,0,357.0,12.0,06-01-2020 00:00,OakStreetWeatherStation202006012400